doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Layout
    body 
        block header 
            header 
                nav 
                    a(href="#") Lien-1
                    a(href="#") Lien-2
                    a(href="#") Lien-3

        block content 

        block footer
            footer 
                p Mon Footer