<html>
<head>
    <title>Accueil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <style>
            p {
                margin: 0;
            }
            .user {
                border: 2px solid royalblue;
                border-radius: 10px;
                margin: 20px;
                padding: 5px;
            }
        </style>
</head>
<body>
    <div class="container-fluid">
        <div class="d-flex flex-column align-items-center justify-content-center w-100" style="height:100vh;">
            <h1>Authentification</h1>
            
            <!-- Affiche les infos de l'utilisateur -->
            <% if (user) { %>
                <div class="user">
                    <p>Email: <%= user.local.email %> </p>
                    <p>Username: <%= user.username %> </p>
                </div>
            <% } %>

            <div class="d-flex flex-row">
                <% if (user) { %>
                    <a href="/auth/signout" class="mx-3">Déconnexion</a>
                <% } else { %>
                    <a href="/users/form-new-user" class="mx-3">Inscription</a>
                    <a href="/auth/signin/form" class="mx-3">Connexion</a>
                <% } %>
            </div>
        </div>
    </div>

    <script src="/javascripts/index.js"></script>
</body>
</html>